{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ participant.pseudo|capitalize }}</h2>
    <p>Campus de rattachement : {{ participant.campus.nom|upper }}</p>
    <p>Nom : {{ participant.nom|capitalize }}</p>
    <p>Prenom : {{ participant.prenom|capitalize }}</p>
    <p>Email : {{ participant.email }}</p>
    <p>Téléphone : {{ participant.telephone }}</p>
{% endblock %}

{% block title %}
    {{ parent() }} | profil du participant
{% endblock %}

