{% extends 'base.html.twig' %}

{% block body %}





    {# BADGE #}

    {# DATE ET NOM A DROITE Y #}
    <br>


    {% if is_granted ("ROLE_USER") or is_granted ("ROLE_ADMIN") %}
        <div class="badge-profile row">


            <div class="col-md-4">
                <img class="profile-picture" src="{{ asset('assets/img/profile.png') }}" alt="">
            </div>

            <div class="col-md-4">
                <p>Participant : {{ app.user.pseudo }}</p>
            </div>
            <div class="col-md-4">
                <p>Date du jour : {{ "now"|date("m/d/Y") }}</p>
            </div>

            {#
            #}{# RENDRE LE BADGE CLICKABLE #}{#
            <a href="#" class="stretched-link"></a> #}


        </div>
    {% endif %}






    {# FILTRE #}
    <div class="container filtre">
        <div class="row">
            <h2 class="text-center">Filtrer les sorties</h2>

            <div class="col-md-3 search">

                {{ form_start(filterForm) }}
                {{ form_row(filterForm.site, {'attr': {'class': 'site form-control'}}) }}
                {{ form_row(filterForm.textSearch, {'attr': {'class': 'textSearch form-control'}}) }}
                {{ form_row(filterForm.startDate, {'attr': {'class': 'startDate form-control'}}) }}
                {{ form_row(filterForm.endDate, {'attr': {'class': 'endDate form-control'}}) }}

            </div>

            <div class="col-md-6 d-flex middle-selection">

                {{ form_row(filterForm.organizer, {'attr': {'class': 'organizer form-check-input'}}) }}

                <div>
                    {{ form_label(filterForm.subscription) }}
                    {% for child in filterForm.subscription %}
                        <div>{{ form_widget(child) }}{{ form_label(child) }}</div>
                    {% endfor %}

                </div>
                {{ form_row(filterForm.ended, {'attr': {'class': 'ended form-check-input'}}) }}


            </div>

            <div class="col-md-3">
                <button class="btn btn-home-search">Rechercher</button>
                {{ form_end(filterForm) }}
            </div>

        </div>
    </div>


    {# TABLEAU #}

    <div class="container resultat-recherche">
        <div class="row">


            <div class="href">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture des inscriptions</th>
                        <th scope="col">Inscrits/places totales</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sorties %}
                        {% if not (sortie.etat.libelle == 'Archivée') %}
                            <tr>
                                <th scope="row">{{ sortie.nom|capitalize }}</th>
                                <td>{{ sortie.dateHeureDebut|date('d/m/Y h:i') }}</td>
                                {% if not (sortie.etat.libelle == 'Annulée') %}
                                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                                    <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionMax }}</td>
                                {% else %}
                                    <td>Sortie annulée</td>
                                    <td>Sortie annulée</td>
                                {% endif %}
                                <td>{{ sortie.etat.libelle }}</td>
                                <td>
                                    {% if app.user in sortie.participants %}
                                        X
                                    {% endif %}
                                </td>
                                <td>
                                    {% if sortie.organisateur == app.user %}
                                        <a href="{{ path('participant_editer_profil') }}">{{ sortie.organisateur.nom }}</a>
                                    {% else %}
                                        <a href="{{ path('participant_participant', {'id': sortie.organisateur.id }) }}">{{ sortie.organisateur.nom }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if app.user %}
                                        {% if (sortie.etat.libelle in ['Ouverte','Cloturée']) %}
                                            <a href="{{ path('sortie_sortie', {'id': sortie.id }) }}">Afficher</a>
                                        {% endif %}
                                        {% if not (sortie.etat.libelle in ['Annulée','Passée']) %}
                                            {% if app.user in sortie.participants %}
                                                {% if not (sortie.etat.libelle == 'Cloturée') %}
                                                    <button id="desinscription" onclick="desinscrire({{ sortie.id }})">
                                                        Se désister
                                                    </button>
                                                {% endif %}
                                            {% else %}
                                                {% if not (sortie.etat.libelle == 'Cloturée') %}
                                                    <button id="inscription" onclick="inscrire({{ sortie.id }})">
                                                        S'inscrire
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                            {% if sortie.organisateur == app.user %}
                                                {% if sortie.etat.libelle == 'Créée' %}
                                                    <a href="{{ path('sortie_edit',{'id': sortie.id }) }}">Modifier</a>
                                                    <a href="{{ path('sortie_published',{'id': sortie.id }) }}">Publier</a>
                                                {% endif %}
                                            {% endif %}
                                            {% if sortie.organisateur == app.user or is_granted ("ROLE_ADMIN") %}
                                                {% if (sortie.etat.libelle in ['Ouverte','Cloturée']) %}
                                                    <a href="{{ path('sortie_cancel',{'id': sortie.id }) }}">Annuler</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>

            </div>


        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-md-auto">

            </div>
            <div class="col col-lg-2">
                <a href="{{ path('sortie_new') }}">
                    <button class="btn btn-home-bottom">Créer une sortie</button>
                </a>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>

{% endblock %}

{% block title %}
    {{ parent() }} | Liste des sorties
{% endblock %}

{% block extraJs %}
    <script>
        function inscrire(idSortie) {

            fetch("{{ url('participant_inscription', {'id' : 'sortie_id'}) }}".replace('sortie_id', idSortie))
                .then(function () {
                    location.reload();
                });
        }

        function desinscrire(idSortie) {
            fetch("{{ url('participant_desinscription', {'id' : 'sortie_id'}) }}".replace('sortie_id', idSortie))
                .then(function () {
                    location.reload();
                });
        }
    </script>
{% endblock %}