{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block body %}
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm) }}

    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}  <span>minutes</span>
    {{ form_row(sortieForm.infosSortie) }}
    <p>Ville organisatrice : {{ app.user.campus.nom }}</p>
    <div class="ville">
        {{ form_row(sortieForm.ville) }}
    </div>
    <div class="lieu">
        {{ form_row(sortieForm.lieu) }}
    </div>
    {{ form_row(sortieForm.inscriptionAuto) }}
    {{ form_rest(sortieForm) }}

    {#    <button type="submit" name="enregistrer">Enregistrer</button> #}
    {#    <button type="submit" name="publier">Publier</button> #}

    {{ form_end(sortieForm) }}
    <a href="{{ path('main_home') }}">
        <button>Annuler</button>
    </a>
{% endblock %}

{% block extraJs %}
    <script>
        /*  //récupération des boutons
          let buttons = Array.from(document.getElementsByClassName('likeButton'));
          console.log(buttons);

          //boucle sur les boutons
          buttons.forEach(function (elem, index) {
              //ajout d'un évènement de type click
              elem.addEventListener("click", function () {

                  //préparation des données à envoyer
                  let data = {serie_id: {# {{ show.id }} #}, like : elem.value }
                console.log(data);

                //utilisation de fetch pour lancer une requête asynchrone
                fetch("{# {{ path('api_serie_update_like') }} #}",{method:'POST',body: JSON.stringify(data)})
                    .then(function (response){
                        return response.json();
                    }).then(function (data){
                    document.getElementById("nbLikes").innerText = data.nbLikes
                })
            })
        })
*/
    </script>
{% endblock %}