{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block body %}
 <div class="container-bg">
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm) }}

    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}  <span>minutes</span>
    {{ form_row(sortieForm.infosSortie) }}
    <p>Ville organisatrice : {{ app.user.campus.nom }}</p>
    <div class="ville">
        {{ form_row(sortieForm.ville) }}
    </div>
    <div class="lieu">
        {{ form_row(sortieForm.lieu) }}
        <p id="lieuRue">Rue : </p>
        <p id="lieuCodePostal">Code Postal : </p>
        <p id="lieuLatitude">Latitude : </p>
        <p id="lieuLongitude">Longitude : </p>
    </div>

    {{ form_row(sortieForm.inscriptionAuto) }}
    {{ form_row(sortieForm.enregistrer) }}
    {{ form_row(sortieForm.publier) }}

    {{ form_end(sortieForm) }}

    {% if sortie.id != null %}
    <a href="{{ path('sortie_delete',{'id': sortie.id}) }}">
        <button >Supprimer</button>
    </a>
    {% endif %}
    <a href="{{ path('main_home') }}">
        <button>Annuler</button>
    </a>
{% endblock %}

{% block extraJs %}
    <script>
        window.onload = () => {
            // On va chercher la ville
            let ville = document.querySelector("#sortie_ville");
            ville.addEventListener("change", function () {
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_lieu");
                        console.log(nouveauSelect);
                        document.querySelector("#sortie_lieu").replaceWith(nouveauSelect);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            });

            document.addEventListener('change', function (e) {
                if (e.target && e.target.id === 'sortie_lieu') {
                    let dataLieu = {lieu_id: e.target.value, like: e.target.value};
                    //utilisation de fetch pour lancer une requête asynchrone
                    fetch("{{ path('api_lieu_retrieve') }}", {method: 'POST', body: JSON.stringify(dataLieu)})
                        .then(function (response) {
                            return response.json();
                        }).then(function (dataLieu) {
                        document.getElementById("lieuRue").innerText = "Rue : " + dataLieu.rue
                        document.getElementById("lieuCodePostal").innerText = "Code Postal : " + dataLieu.codePostal
                        document.getElementById("lieuLatitude").innerText = "Latitude : " + dataLieu.latitude
                        document.getElementById("lieuLongitude").innerText = "Longitude : " + dataLieu.longitude
                    })
                }
            })

        }
    </script>

 </div>
{% endblock %}