{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} |
    {% if sortie.id != null %}
        Modifier une sortie
    {% else %}
        Créer une sortie
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container background-creer-sortie">
        {{ form_start(sortieForm) }}
        <div class="row justify-content-center">
            <div class="col-auto">
                {% if sortie.id != null %}
                    <h2>Modifier une sortie</h2>
                {% else %}
                    <h2>Créer une sortie</h2>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">

                        {{ form_label(sortieForm.nom) }}
                    </div>
                    <div class="col d-flex">
                        {{ form_widget(sortieForm.nom) }}
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col d-flex align-items-center">
                        {{ form_label(sortieForm.dateHeureDebut) }}
                    </div>
                    <div class="col d-flex">
                        <span class="marginLeft">
                            {{ form_widget(sortieForm.dateHeureDebut) }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.dateLimiteInscription) }}
                    </div>
                    <div class="col d-flex">
                        <span class="marginLeft">
                            {{ form_widget(sortieForm.dateLimiteInscription) }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.nbInscriptionMax) }}
                    </div>
                    <div class="col d-flex">
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.nbInscriptionMax) }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.duree) }}
                    </div>
                    <div class="col">
                        <span class="marginLeft d-flex">
                        {{ form_widget(sortieForm.duree) }} <span class="align-self-center">min</span>
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.infosSortie) }}
                    </div>
                    <div class="col d-flex flex-column">
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.infosSortie) }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.inscriptionAuto) }}
                    </div>
                    <div class="col d-flex justify-content-center align-self-center">
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.inscriptionAuto) }}
                        </span>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="row my-3 d-flex">
                    <div class="col">
                        Ville organisatrice :
                    </div>
                    <div class="col">
                        <span class="marginLeft">
                            {{ app.user.campus.nom }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.ville) }}
                    </div>
                    <div class="col-10 col-md-9 col-lg-7 col-xl-6 mr-5 d-flex align-self-center">
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.ville) }}
                        </span>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col align-self-center">
                        {{ form_label(sortieForm.lieu) }}
                    </div>
                    <div class="col-10 col-md-9 col-lg-7 col-xl-6 mr-5 d-flex align-self-center">
                        <div class="input-group">
                            {{ form_widget(sortieForm.lieu) }}
                            <div class="input-group-append">
                                <button id="addLieu" class="btn btn-outline-secondary btn-creer-sortie" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divAddLieu" style="display: none">
                    <div class="my-3 d-flex">
                        {{ form_label(sortieForm.addLieu.nom) }}
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.addLieu.nom) }}
                        </span>
                    </div>
                    <div class="my-3 d-flex">
                        {{ form_label(sortieForm.addLieu.rue) }}
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.addLieu.rue) }}
                        </span>
                    </div>
                    <div class="my-3 d-flex">
                        {{ form_label(sortieForm.addLieu.latitude) }}
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.addLieu.latitude) }}
                        </span>
                    </div>
                    <div class="my-3 d-flex">
                        {{ form_label(sortieForm.addLieu.longitude) }}
                        <span class="marginLeft">
                        {{ form_widget(sortieForm.addLieu.longitude) }}
                        </span>
                    </div>
                </div>
                <div id="infosLieu">
                    <p id="lieuRue">Rue : {{ sortie.lieu.rue |default('') }}</p>
                    <p id="lieuCodePostal">Code Postal : {{ sortie.lieu.ville.codePostal |default('') }}</p>
                    <p id="lieuLatitude">Latitude : {{ sortie.lieu.latitude |default('') }}</p>
                    <p id="lieuLongitude">Longitude : {{ sortie.lieu.longitude |default('') }}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-auto">
                {{ form_row(sortieForm.enregistrer) }}
            </div>
            <div class="col-auto">
                {{ form_row(sortieForm.publier) }}
            </div>
            {% if sortie.id != null %}
                <div class="col-auto">
                    <a href="{{ path('sortie_delete',{'id': sortie.id}) }}">
                        <button class="btn btn-creer-sortie btn-outline-secondary">Supprimer</button>
                    </a>
                </div>
            {% endif %}
            <div class="col-auto">
                <a href="{{ path('main_home') }}">
                    <button class="btn btn-creer-sortie btn-outline-secondary">Annuler</button>
                </a>
            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        window.onload = () => {
            // On va chercher la ville
            let ville = document.querySelector("#sortie_ville");
            ville.addEventListener("change", function () {
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                    .then(response => response.text())
                    .then(html => {
                        let content = document.createElement("html");
                        content.innerHTML = html;
                        let nouveauSelect = content.querySelector("#sortie_lieu");
                        document.querySelector("#sortie_lieu").replaceWith(nouveauSelect);
                    })
                    .catch(error => {
                        console.log(error);
                    })
            });

            document.addEventListener('change', function (e) {
                if (e.target && e.target.id === 'sortie_lieu') {
                    let dataLieu = {lieu_id: e.target.value, like: e.target.value};
                    //utilisation de fetch pour lancer une requête asynchrone
                    fetch("{{ path('api_lieu_retrieve') }}", {method: 'POST', body: JSON.stringify(dataLieu)})
                        .then(function (response) {
                            return response.json();
                        }).then(function (dataLieu) {
                        document.getElementById("lieuRue").innerText = "Rue : " + dataLieu.rue
                        document.getElementById("lieuCodePostal").innerText = "Code Postal : " + dataLieu.codePostal
                        document.getElementById("lieuLatitude").innerText = "Latitude : " + dataLieu.latitude
                        document.getElementById("lieuLongitude").innerText = "Longitude : " + dataLieu.longitude
                    })
                }
            })

            let addLieuVisible = false;
            document.getElementById("addLieu").addEventListener("click", function (evt) {
                if (addLieuVisible) {
                    document.getElementById('divAddLieu').style.display = 'none';
                    document.getElementById('infosLieu').hidden = false;
                    addLieuVisible = false;
                } else {
                    document.getElementById('divAddLieu').style.display = '';
                    document.getElementById('infosLieu').hidden = true;
                    addLieuVisible = true;
                }
            });
        }
    </script>
{% endblock %}