{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Détails de la sortie
{% endblock %}

{% block body %}
    <h2>Afficher une sortie</h2>
    <p>Nom de la sortie : {{ sortie.nom|capitalize }}</p>
    <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date("d/m/Y h:i") }}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date("d/m/Y") }}</p>
    <p>Nombre de places : {{ sortie.nbInscriptionMax }}</p>
    <p>Durée : {{ sortie.duree }} minutes</p>
    <label for="description">Description et infos : </label>
    <textarea id="description">{{ sortie.infosSortie }}</textarea>
    <p>Ville organisatrice : {{ sortie.campus.nom|title }}</p>
    <p>Lieu : {{ sortie.lieu.nom|title }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Ville : {{ sortie.lieu.ville.nom|title }}</p>
    <p>Ville : {{ sortie.lieu.latitude }}</p>
    <p>Ville : {{ sortie.lieu.longitude }}</p>
    <div>
        <h3>Liste des participants inscrits</h3>
        <table class="table table-striped table-hover" id="listParticipants">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>

            </tr>
            </thead>
            <tbody>
            {% for participant in sortie.participants %}
                <tr>{% if sortie.organisateur == app.user %}
                        <th scope="row"> <a href="{{ path('participant_editer_profil') }}">{{ participant.pseudo|capitalize }}</a></th>
                    {% else %}
                        <th scope="row">  <a href="{{ path('participant_participant', {'id': sortie.organisateur.id }) }}">{{ participant.pseudo|capitalize }}</a></th>
                    {% endif %}
                    {% if sortie.organisateur == app.user %}
                    <td> <a href="{{ path('participant_editer_profil') }}">{{ [participant.prenom, participant.nom]|join(' ') }}</a></td>
                    {% else %}
                    <td>  <a href="{{ path('participant_participant', {'id': sortie.organisateur.id }) }}">{{ [participant.prenom, participant.nom]|join(' ') }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if sortie.etat.libelle == "Ouverte" %}
        <button id="inscription">S'inscrire</button>
        {% endif %}
    </div>

{% endblock %}

{% block extraJs %}
    <script>
        document.getElementById('inscription').addEventListener('click', function (evt) {
            fetch("{{ url('participant_inscription', {'id':sortie.id}) }}")
                .then(function (response){
                    return response.json();
                }).then(function (data){
                var participants = JSON.parse(data);
                var refTable = document.getElementById('listParticipants');
                for (let participant of participants) {
                    console.log(participant.pseudo);
                    var nouvelleLigne = refTable.insertRow();

                    var nouvelleCellule = nouvelleLigne.insertCell(0);
                    var nouveauTexte = document.createTextNode(participant.pseudo)
                    nouvelleCellule.appendChild(nouveauTexte);
                }
            });
        });

    </script>
{% endblock %}

