{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier une ville
{% endblock %}

{% block body %}
    <div class="container manage-container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-6 text-center">
                <h2 class="text-center p-3">Modifier la ville</h2>

                {{ form_start(villeForm) }}
                <div class="d-flex justify-content-evenly  align-items-center p-3">
                    {{ form_label(villeForm.nom, 'Nom de la ville :') }}
                    {{ form_row(villeForm.nom) }}
                </div>
                <div class="d-flex justify-content-evenly align-items-center">
                    {{ form_label(villeForm.codePostal, 'Code postal :') }}
                    {{ form_row(villeForm.codePostal) }}
                </div>
                <div class="p-4">
                <button class="btn btn-main">Modifier</button>
                </div>
                {{ form_end(villeForm) }}
            </div>
        </div>
    </div>

{% endblock %}

