{% extends 'base.html.twig' %}

{% block body %}


    <div class="container manage-container">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-6 text-center">

                <h2 class="text-center">Gérer les villes </h2>
                <h3 class="text-center">Filtrer les villes</h3>
                {{ form_start(filterForm) }}
                {{ form_row(filterForm.search) }}
                <br>
                {{ form_row(filterForm.rechercher) }}
                <br>
                {{ form_end(filterForm) }}
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>

    <div class="container manage-container resultat-recherche">
        <div class="row text-center">



                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Code Postal</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ville in villes|sortByField('nom') %}
                                    <tr>
                                        <th scope="row">{{ ville.nom|title }}</th>
                                        <td>{{ ville.codePostal }}</td>
                                        <td>

                                            <a class="ps-1" href="{{ path('ville_edit',{'id': ville.id}) }}">Modifier</a>
                                            <a class="ps-1" href="{{ path('ville_delete',{'id': ville.id}) }}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    {{ form_start(villeForm) }}
                                    <td>
                                        {{ form_row(villeForm.nom) }}
                                    </td>
                                    <td>
                                        {{ form_row(villeForm.codePostal) }}
                                    </td>
                                    <td>
                                        <button class="btn btn-main">Ajouter</button>
                                    </td>
                                    {{ form_end(villeForm) }}
                                </tr>
                                </tbody>
                            </table>
        </div>
    </div>
{% endblock %}






{% block title %}
    {{ parent() }} | Gestion des villes
{% endblock %}
