{% extends 'base.html.twig' %}

{% block body %}
    <h2>Gérer les villes </h2>
    <h3>Filtrer les villes</h3>
    {{ form_start(filterForm) }}
    {{ form_row(filterForm.search) }}
    {{ form_row(filterForm.rechercher) }}
    {{ form_end(filterForm) }}


    <div class="container resultat-recherche">
        <div class="row">


            <div class="href">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Ville</th>
                        <th scope="col">Code Postal</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ville in villes|sortByField('nom') %}
                        <tr>
                            <th scope="row">{{ ville.nom|title }}</th>
                            <td>{{ ville.codePostal }}</td>
                            <td>

                                <a href="{{ path('ville_edit',{'id': ville.id}) }}">Modifier</a>
                                <a href="{{ path('ville_delete',{'id': ville.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        {{ form_start(villeForm) }}
                        <td>
                            {{ form_row(villeForm.nom) }}
                        </td>
                        <td>
                            {{ form_row(villeForm.codePostal) }}
                        </td>
                        <td>
                            <button>Ajouter</button>
                        </td>
                        {{ form_end(villeForm) }}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block title %}
    {{ parent() }} | Gestion des villes
{% endblock %}
